    @charset "utf-8";
    @import url(common.css);


    #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
        background-color: #463F3A;
    }
    #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
        background: #BCB8B1;
    }

    .header{
        width: 100%;
        height: 80px;
        background-color: #8a807b0d;
        backdrop-filter: blur(10px);
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .header .inner{
        max-width: 1280px;
        width: calc(100% - 20px);
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .inner .nav1{
        margin-left: 400px;
        position: relative;
    }
    .header .inner .nav1 .gnb1{
        display: flex;
        align-items: center;   
    }
    .header .inner .nav1 .gnb1 li{
        width: 145px;
        font-family: 'pre_b';
        font-size: 1.7rem;
    }
    .menu_bar span{
        position: absolute;
        left: -99999999px;
    }
    .header .inner .nav1 .menu_bar{
        width: 145px;
        height: 60px;
        background: url('../img/menubar.png') center center / cover no-repeat;
        position: absolute;
        bottom: -70%;
        left: 0%;
        z-index: -999999;
    }
    .header .inner .nav2{
        background-color: #8A817C;
        position: fixed;
        display: block;
        width: 50%;
        height: 100vh;
        top: 80px;
        left: 100%;
        padding: 20px 0;
    }
    .header .inner .nav2 .gnb2 li{
        text-align: center;
        color: #F4F3EE;
        font-size: 20px;
        padding: 20px 0;
        border-bottom: 1px solid #F4F3EE;
    }
    .header .inner .btn_m{
        border: none;
        background: none;
        cursor: pointer;
    }

    #main_visual{
        max-width: 1280px;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    #main_visual .main_p{
        display: flex;
        align-items: end;
    }
    #main_visual .main_p h1{
        font-family: 'retro';
        font-size: 12rem;

    }

    #main_visual .Scroll{
        margin-top: 186px;
        text-align: center;
    }
    #main_visual .Scroll p{
        font-family: 'pre_m';
        color: #8A817C;
        font-size: 1.3rem;
    }


    #section1{
        max-width: 1280px;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    #section1 .title{
        margin-bottom: 45px;
    }
    #section1 ._Profil{
        background-color: #E0AFA0;
        width: 100%;
        height: 31.25vw;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    #section1 ._Profil_N1{
        width: 326px;
        height: 326px;
        border-radius: 50%;
        background-color: #F4F3EE;
        
        text-align: center;
        line-height: 326px;
    }
    #section1 ._Profil_N2 ul li{
        display: flex;
        gap: 20px;
        margin: 20px 0;
        align-items: center;
        justify-content: space-between;
    }
    #section1 ._Profil_N2 ul li p{
        font-family: 'pre_b';
        font-size: 2.3rem;
    }
    #section1 ._Profil_N2 ul li span{
        font-family: 'pre_m';
        font-size: 1.7rem;

    }
    #section1 ._Profil_R ._Profil_N3{
        margin-bottom: 20px;
    }

    #section1 ._Profil_R ._Profil_N3 p{
        font-family: 'pre_b';
        font-size: 2.3rem;
        padding-bottom: 10px;
    }
    #section1 ._Profil_R ._Profil_N3 ul li{
        font-family: 'pre_m';
        font-size: 1.7rem;
    }
    #section1 ._Profil_R ._Profil_N4 p{
        font-family: 'pre_b';
        font-size: 2.3rem;
        padding-bottom: 10px;
    }
    #section1 ._Profil_R ._Profil_N4 ._up{
        margin-bottom: 10px;
    }
    #section1 ._Profil_R ._Profil_N4 ._up img{
        background-color: #F4F3EE;
        border-radius: 15px;
    }
    #section1 ._Profil_R ._Profil_N4 ._down img{
        background-color: #F4F3EE;
        border-radius: 15px;
    }

    #section2{
        max-width: 1280px;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    #section2 .title{
        padding: 120px 0 30px;
    }
    #section2 ._Work_N1{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 200px;
        align-items: center;
        gap: 30px;
    }
    #section2 ._Work_N1 ._Work_N1__L{
        width: 800px;
    }
    #section2 #Lotte{
        background: url("../img/뒷배경_롯데시네마.png") center center / contain no-repeat;
    }
    #section2 #NIKE{
        background: url("../img/뒷배경_나이키.png") center center / contain no-repeat;
    }
    #section2 #PASCU{
        background: url("../img/뒷배경_파스쿠찌.png") center center / contain no-repeat;
    }
    #section2 #Buger{
        background: url("../img/뒷배경_프랭크버거.png") center center / contain no-repeat;
    }
    #section2 #Table{
        background: url("../img/뒷배경_웨이팅.png") center center / contain no-repeat;
    }
    #section2 #Shop{
        background: url("../img/뒷배경_르주르.png") center center / contain no-repeat;
    }
    #section2 #Busan{
        background: url("../img/뒷배경_부산.png") center center / contain no-repeat;
    }
    #section2 #Pic{
        background: url("../img/뒷배경_갤러리.png") center center / contain no-repeat;
    }


    #section2 ._Work_N1 ._Work_N1__L h3{
        font-family: 'retro';
        font-size: 4rem;
        margin-bottom: 65px;
    }
    #section2 ._Work_N1 ._Work_N1__R h3{
        font-family: 'retro';
        font-size: 4rem;
        margin-bottom: 65px;
    }

    #section2 ._Work_N1 ._Work_N1__L ul li{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    #section2 ._Work_N1 ._Work_N1__L ul li p{
        font-family: 'pre_b';
        font-size: 2rem;
    }
    #section2 ._Work_N1 ._Work_N1__L ul li span{
        font-family: 'pre_r';
        font-size: 2rem;
    }

    #section2 ._Work_N1 ._Work_N1__R ul li{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    #section2 ._Work_N1 ._Work_N1__R ul li p{
        font-family: 'pre_b';
        font-size: 2rem;
    }
    #section2 ._Work_N1 ._Work_N1__R ul li span{
        font-family: 'pre_r';
        font-size: 2rem;
    }

    #section2 ._Work_N1 ._Work_N1__B{
        font-family: 'retro';
        font-size: 1.7rem;
        display: flex;
        margin-top: 65px;
        gap: 10px;
    }
    #section2 ._Work_N1 ._Work_N1__B a{
        width: 132px;
        height: 56px;
        border-radius: 40px 40px 0 0;
        border: 3px solid #463F3A;
        background-color: #F4F3EE;
    }
    #section2 ._Work_N1 ._Work_N1__B a:hover{
        background-color: #463F3A;
        color: #F4F3EE;
        transition: 0.2s;
    }
    #section2 ._Work_N1 ._Work_N1__B p {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 60px;
    }




    #section3{
        max-width: 1280px;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    .section .title{
        padding-top: 70px;
    }
    #section3 .nav{
        margin-top: 40px;
    }
    #section3 .nav .gnb{
        font-family: 'pre_ex';
        font-size: 2.7rem;
        color: #BCB8B1;
        display: flex;
        gap: 105px;
        
    }
    #section3 .nav .gnb li{
        cursor: pointer;
        position: relative;
    }
    #section3 .nav .gnb li::after{
        content: '';
        bottom: -5px;
        left: 0;
        width: 0;
        height: 5px;
        position: absolute;
        background-color: #E0AFA0;
    }
    #section3 .nav .gnb li.active{
        color: #463F3A;
    }
    #section3 .nav .gnb li.active::after{
        width: 100%;
        transition: 0.5s;
    }

    #section3 .mySwiper{
        margin-top: 68px;
        display: none;
    }
    #section3 .mySwiper.active{
        display: flex;
    }
    #section3 .mySwiper .swiper-slide{
        width:23.5%;
        height: 500px;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }
    #section3 .mySwiper .swiper-slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.7s;
    }

    #section3 .mySwiper .swiper-slide:hover img{
        scale: 1.2;
        overflow: hidden;
    }

    #section3 .mySwiper .swiper-slide:hover .text{
        bottom: 0;
        border-radius: 25px;
    }

    #section3 .mySwiper .swiper-slide .text{
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 50%;
        transition: 0.7s;
        background: rgb(224,175,160);
        background: linear-gradient(0deg, rgba(224,175,160,1) 45%, rgba(224,175,160,0.3449754901960784) 100%);
    }
    #section3 .mySwiper .swiper-slide .text p{
        font-family: 'pre_b';
        font-size: 2rem;
        height: 100%;
        text-align: center;
        align-content: center;
        color: #F4F3EE;
    }

    #section3 .mySwiper .swiper-pagination-bullet{
        background-color: #8A817C;
    }
    #section3 .mySwiper .swiper-pagination-bullet-active{
        background-color: #463F3A;
    }

    #section3 .control{
        position: absolute;
        right: 10px;
        bottom: 0;
        margin-top: 20px;
        text-align: end;
        z-index: 999;
    }
    #section3 .control button{
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        background: none;
    }
    #section3 .control button img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    #section3 .control .play{
        display: none;
    }

    #footer{
        background-color: #463F3A;
    }
    #footer .footer_W{
        max-width: 1280px;
        width: calc(100% - 20px);
        
        margin: 82px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #footer .footer__left p{
        color: #F4F3EE;
        font-family: 'retro';
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 34px;
    }

    #footer .footer__right{    
        background-color: #F4F3EE;
        height: 536px;
        width: 100%;
        margin-left: 104px;
        padding: 0 135px;
        border-radius: 56px;
    }
    #footer .footer__right .footer__wrap2 p{
        font-family: 'pre_l';
        font-size: 12px;
        line-height: 1;
    }

    #footer .footer__wrap{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #footer .footer__wrap__text{
        font-family: 'pre_m';
    }
    #footer .footer__wrap__text .phone{
        display: flex;
        align-items: center;
        gap: 28px;
        margin-bottom: 32px;
    }
    #footer .footer__wrap__text .email{
        display: flex;
        align-items: center;
        gap: 28px;
    }

    #footer .footer__wrap__QR {
        font-family: 'pre_b';
        width: 239px;
        height: 251px;
        display: block;
    }
    #footer .footer__wrap__QR img{
        margin: 0 auto;
        width: 80%;
        object-fit: contain;
        display: block;
    }
    #footer .footer__wrap__QR span{
        width: 100%;
        padding: 10px 0 30px;
        display: block;
        text-align: center;
    }
    #footer .footer__wrap__QR p{

        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #BCB8B1;
        border-radius: 15px;
        cursor: pointer;
    }
    #footer .footer__wrap__QR p:hover{
        background-color: #463F3A;
        color: #F4F3EE;
    }



    /* 반응형 */
    @media screen and (max-width: 960px){
        .title h1{
            font-size: 4rem;
        }

        .header{
            height: 65px;
        }
        .header .inner .nav1{
            margin-left: 200px;
        }
        .header .inner .nav1 .gnb1 li{
            width: 100px;
            font-size: 1.5rem;
        }
        .header .inner .nav1 .menu_bar{
            width: 100px;
            height: 41px;
            bottom: -45%;
        }
        .header .inner .nav2{
            top: 65px;
        }
        #main_visual .main_p{
            justify-content: center;
        }
        #main_visual .main_p img{
            width: 200px;
            height: 228px;
        }
        #main_visual .main_p h1{
            font-size: 7rem;
        }

        #main_visual .Scroll img{
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
        #main_visual .Scroll p{
            font-size: 1.2rem;
        }

        #section1 ._Profil{
            height: 52.083vw;
            gap: 50px;
        }
        #section1 ._Profil_N1{
            width: 200px;
            height: 200px;
        }
        #section1 ._Profil_N2 ul li{
            margin: 17px 0;
        }
        #section1 ._Profil_N2 ul li p{
            font-size: 2rem;
        }
        #section1 ._Profil_N2 ul li span{
            font-size: 1.5rem;
        }
        #section1 ._Profil_R ._Profil_N3 p{
            font-size: 2rem;
        }
        #section1 ._Profil_R ._Profil_N3 ul li{
            font-size: 1.5rem;
        }
        #section1 ._Profil_R ._Profil_N4 p{
            font-size: 2rem;
        }
        #section1 ._Profil_R ._Profil_N4 ._up img{
            width: 38px;
            height: 38px;
            object-fit: contain;
        }
        #section1 ._Profil_R ._Profil_N4 ._down img{
            width: 38px;
            height: 38px;
            object-fit: contain;
        }


        #section2 .title{
            margin: 120px 0 60px;
            padding: 0;
        }
        #section2 ._Work_N1{
            height: 35.94vw;
        }
        #section2 ._Work_N1 ._Work_N1__L{
            width: 48.43%;
            height: 100%;
            align-content: center; 
        }
        #section2 ._Work_N1 ._Work_N1__R{
            width: 48.43%;
            height: 100%;
            align-content: center;
        }
        #section2 ._Work_N1 ._Work_N1__L h3{
            font-size: 3rem;
            margin-bottom: 35px;
        }
        #section2 ._Work_N1 ._Work_N1__R h3{
            font-size: 3rem;
            margin-bottom: 35px;
        }

        #section2 ._Work_N1 ._Work_N1__L ul li p{
            font-size: 1.8rem;
        }
        #section2 ._Work_N1 ._Work_N1__L ul li span{
            font-size: 1.8rem;
        }
        #section2 ._Work_N1 ._Work_N1__R ul li p{
            font-size: 1.8rem;
        }
        #section2 ._Work_N1 ._Work_N1__R ul li span{
            font-size: 1.8rem;
        }

        #section2 ._Work_N1 ._Work_N1__L img{
            width: 440px;
            height: 100%;
            object-fit: contain;
        }
        #section2 ._Work_N1 ._Work_N1__R img{
            width: 440px;
            height: 100%;
            object-fit: contain;
        }
        #section2 ._Work_N1 ._Work_N1__B{
            font-size: 1.5rem;
            margin-top: 35px;
        }
        #section2 ._Work_N1 ._Work_N1__B a{
            width: 100px;
            height: 50px;
            border-radius: 30px 30px 0 0;
        }
        #section2 ._Work_N1 ._Work_N1__B p{
            line-height: 54px;
        }
        
        /* 공통? */
        .section .title{
            padding-top: 20px;
        }

        #section3 .nav{
            margin-top: 35px;
        }
        #section3 .nav .gnb{
            font-size: 2.2rem;
            gap: 55px;
        }
        #section3 .mySwiper .swiper-slide{
            height: 30vw;
        }


        #footer .footer_W{
            margin: 40px auto;
        }
        #footer .footer__left{
            width: 40%;
            justify-items: center;
        }
        #footer .footer__left p{
            font-size: 2.2rem;
        }
        #footer .footer__right{
            height: 51.87vw;
            align-content: center;
            padding: 0;
            margin-left: 0;
            border-radius: 36px;
        }
        #footer .footer__right .title{
            text-align: center;
            font-size: 4rem;
        }
        #footer .footer__right .footer__wrap {
            height: 279px;
            display: block;
            text-align: center;
            justify-items: center;
        }
        #footer .footer__wrap__text .phone{
            margin-bottom: 16px;
            gap: 20px;
        }
        #footer .footer__wrap__text .email{
            gap: 20px;
        }
        #footer .footer__wrap__text .phone img{
            width: 42px;
            height: 42px;
            object-fit: contain;
        }
        #footer .footer__wrap__text .email img{
            width: 42px;
            height: 42px;
            object-fit: contain;
        }
        #footer .footer__wrap__text .phone p{
            font-size: 1.6rem;
        }
        #footer .footer__wrap__text .email p{
            font-size: 1.6rem;
        }

        #footer .footer__wrap__QR{
            margin-top: 30px;
            display: flex;
            width: 292px;
            height: 135px;
        }
        #footer .footer__wrap__QR img{
            width: 50%;
        }
        #footer .footer__wrap__QR span{
            display: none;
        }
        #footer .footer__wrap__QR p{
            height: 100%;
            padding: 40px;
        }

        #footer .footer__right .footer__wrap2{
            width: 100%;
            justify-items: center;
        }
        #footer .footer__right .footer__wrap2 p{
            font-size: 10px;
        }
    }

    /* 코드꼬임 */
    /* @media screen and (max-width: 390px){
        .title h1{
            font-size: 24px;
        }
        .header .inner .nav1{
            display: none;
        }
        #main_visual .main_p img{
            width: 77px;
            height: 88px;
        }
        #main_visual .main_p h1{
            font-size: 3.7rem;
        }
        #main_visual .Scroll img{
            width: 24px;
            height: 24px;
        }
        #main_visual .Scroll p{
            font-size: 1rem;
        }
        #section1{
            height: 471px;
        }
        #section1 ._Profil{
            height: 100%;
            display: block;
            margin: 0 auto;
            padding: 10px 0;
            gap: 0px;
        }
        #section1 ._Profil_N1{
            width: 122px;
            height: 122px;
            margin: 30px auto;
        }
        #section1 ._Profil_N2{
            padding: 0 20px;
        }
        #section1 ._Profil_N2 ul li{
            margin: 0;
        }
        #section1 ._Profil_N2 ul li p{
            font-size: 1.3rem;
        }
        #section1 ._Profil_N2 ul li span{
            font-size: 1.3rem;
        }
        #section1 ._Profil_R{
            padding: 0 20px;
            margin: 0 auto;
        }
        #section1 ._Profil_R ._Profil_N3{
            margin: 10px 0;
        }
        #section1 ._Profil_R ._Profil_N3 p{
            font-size: 1.3rem;
        }
        #section1 ._Profil_R ._Profil_N3 ul li{
            font-size: 1.3rem;
        }
        #section1 ._Profil_R ._Profil_N4 p{
            font-size: 1.3rem;
        }


        #section2 ._Work_N1{
            height: 448px;
            flex-wrap: wrap;
            row-gap: 16px;
            margin-bottom: 0px;
        }

        #section2 ._Work_N1 ._Work_N1__L{
            width: 100%;
            height: 200px;
        }
        #section2 ._Work_N1 ._Work_N1__R{
            width: 100%;
            margin: 0 auto;
        }
        #section2 ._Work_N1 ._Work_N1__L h3{
            font-size: 2rem;
            margin-bottom: 25px;
        }
        #section2 ._Work_N1 ._Work_N1__R h3{
            font-size: 2rem;
            margin-bottom: 25px;
        }
        #section2 ._Work_N1 ._Work_N1__L ul li p{
            font-size: 1.3rem;
        }
        #section2 ._Work_N1 ._Work_N1__L ul li span{
            font-size: 1.3rem;
        }
        #section2 ._Work_N1 ._Work_N1__R ul li p{
            font-size: 1.3rem;
        }
        #section2 ._Work_N1 ._Work_N1__R ul li span{
            font-size: 1.3rem;
        }

        #section2 ._Work_N1 ._Work_N1__L img{
            width: 264px;

        }
        #section2 ._Work_N1 ._Work_N1__R img{
            width: 264px;
            
        }
    } */